
<nav class="navbar navbar-dark bg-dark">
    <form class="container-fluid justify-content-end">
        <button class="btn btn-outline-success me-2" id="logout" type="button">Logout</button>
    </form>
</nav>

<p>Dashboard</p>

<script src="/js/logout.js"></script>