.about {
    font-family: 'Permanent Marker';
    font-size: 50px;
    color: rgb(2, 39, 202);
}

.crimsonFont {
    font-family: 'Crimson Text', serif;
    font-size: 20px
}


@media screen and (max-width: 768px) {
#adminrecipes {
    width: 33%!important;
}
}
@media screen and (max-width: 320px) {

}

.post {
    margin-bottom: 2%;
    line-height: 150%;
  }
  
  .post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
  }